.intro {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 1017px;
  height: 600px;

  position: relative;
  box-sizing: border-box;
  margin: 0 0 92px 0;
}

.intro__title {
  width: 1017px;
  height: 116px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 92px 0 0 0;
}

.intro__text {
  width: 732px;
  height: 132px;
  margin: 0;
  padding: 40px 215px 42px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

.intro__autor {
  width: 720px;
  height: 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: flex-end;
}

.intro__text_paragraph {
  width: 720px;
  height: 182px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 768px) {
  .intro {
    width: 720px;
  }
  .intro__title {
    width: 720px;
    height: 232px;
  }

  .intro__text {
    width: 720px;
    height: 136px;
  }
}
