/* Estilo del bloque de Page */
.page {
  display: flex;
  align-items: center;
  min-width: 320px;
  max-width: 1600px;

  background-color: #2a2c2f;
  height: 0 auto;
  flex-direction: column;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .page {
    width: 768px;
  }
}
